<nav class="navbar bg-info border-bottom border-bottom-info" data-bs-theme="info">
  <h1 style="color:white;">Admin Projects</h1>
</nav>

<%= link_to "Back to projects", root_path, class:'btn btn-primary mt-3' %>
<% @projects.each do |project| %>
<div class="card mt-3 mx-3 w-50">
  <div class="card-body">
    <h5 class="card-title text-center"><strong><%= project.project.name %></strong></h5>
    <p class="card-text bg-light border border-light"><%= project.project.body %></p>
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="text-end"><strong>id:</strong> <%= project.id %></h5>
      </div>
      <div>
        <%= link_to "Show", project_url(project.project.id), class: "btn btn-primary" %>
      </div>
      <div>
        <h5 class="text-end"><strong>Created:</strong> <%= current_user.email%></h5>
      </div>
    </div>
  </div>
</div>
<% end %>